.dataTitle {
    background-color: blue;
    padding-top:0.1vw;
    padding-bottom:0.1vw;
    color:white;
}

// .ContactContainer {
//     margin-top:5vw;
//     .form-fields {
//         display:flex;
//         justify-content: center;
//         .label {
//             margin-right:5vw;
//         }
//     }
// }

.ContactContainer {
    padding-top:15vw;
    h1{
    margin-top: 5vw;
    font-size: 8vw;
    }
    .contact-form {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12vw;
    .btn{
        padding: 2vw 20vw;
        border-radius: 90px;
    }
    .form-fields {
        display:flex;
        justify-content: center;
        position: relative;
        font-size: 5vw;
        .label {
        margin-top: -8vw;
        position: absolute;
        font-size: 5vw;
        cursor: text;
        transition: transform .2s ease-in-out;
        }
        .input-text {
        display: block;
        width: 100%;
        height: 5vw;
        border-width: 0 0 2px 0;
        font-size: 5vw;          
        &:focus {
            outline: none;
        }
        &:focus,
        &.not-empty {
            + .label {
            transform: translateY(-5vw);
            }
        }
        }
    }
    } 
}

.App-payment {
    padding-top:5vw;
    .form-group {
        display:flex;
        justify-content: center;
        padding-top:2vw;
    }
    .form-fields button {
        display:flex;
        justify-content: center;
        padding: 2vw 20vw;
        border-radius: 90px;
    }
}